<% provide(:title, "Home") %>
<div id="map" class="col-sm-9"></div>
<script>
  function initMap() {
    var philly = {lat: 40.0048632, lng: -75.1880722};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 12,
      center: philly
    });
    var gmInput = document.getElementById('map-input');
    var searchBox = new google.maps.places.SearchBox(gmInput);
    map.addListener('bounds_changed', function() {
      searchBox.setBounds(map.getBounds());
    });
    <% School.all.each do |s| %>
      var lat = <%= s["latitude"].to_f %>;
      var lng = <%= s["longitude"].to_f %>;
      var pos = {lat: lat, lng: lng };
      var marker = new google.maps.Marker({
       position: pos,
       map: map
      });
    var markers = [];
    searchBox.addListener('places_changed', function() {
      var places = searchBox.getPlaces();
      if (places.length == 0) {
        return;
      }
      var bounds = new google.maps.LatLngBounds();
      places.forEach(function(place) {
        if (!place.geometry) {
          console.log("Returned place contains no geometry");
          return;
        }
        markers.forEach(function(marker) {
          marker.setMap(null);
        });
        markers = [];
        markers.push(new google.maps.Marker({
          map: map,
          title: place.name,
          position: place.geometry.location
        }));
        if (place.geometry.viewport) {
          bounds.union(place.geometry.viewport);
        } else {
          bounds.extend(place.geometry.location);
        }
      });
      map.fitBounds(bounds);
    });
    <% end %>
    }
</script>
<div id="list" class="col-sm-3">
  <% School.all.each do |s| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= s["name"] %>
      </div>
      <div class="panel-body">
        <p>
          <%= s["address"] %>
        </p>
        <p>
          <%= s["grade_level"] %>
        </p>
      </div>
    </div>
  <% end %>
</div>