<%= link_to "Back", root_path %>

<p id="notice"><%= notice %></p>
<%- model_class = School -%>
<% @school = School.find(params[:id]) %>

<div class="review-button" style= "text-align: center">
    <% if logged_in? %>
        <%= link_to "Post a Review", new_school_review_path(@school), class: "btn btn-primary" %>
    <% end %>
</div>
<div class="page-header">
    <h1><%= School.find(params[:id]).name %></h1>
    <h3><%= School.find(params[:id]).grade_level %></h2>
</div>

<div id="crimes_filter" style="border-bottom: 1px solid #ccc;">
    <%= render partial: 'crimesfilter' %>
</div>

<h3>List of Crimes: </h3>
<div id="crimes-list">
  <%= render partial: 'crimes', locals: {crimes: @crimes} %>
</div>



