<%= link_to "Back", root_path %>

<p id="notice"><%= notice %></p>

<div class="page-header" style="margin-top: -5%">
    <h1><%= school.name %></h1>
    <h3><%= school.grade_level %></h2>
    <h3>Safety Rating: 
        <div id="safety-rating"></div>
    </h3>
</div>

<div class="school-page-body">

    <div class="review-button" style= "text-align: center; margin-top: 5%">
        <% if logged_in? %>
            <%= link_to "Post a Review", new_school_review_path(school), class: "btn btn-primary", :remote => true %>
        <% end %>
    </div>
    <div class="favorite-button" style= "text-align: center; margin-top: 5%">
        <% if logged_in? %>
            <% if favorite? @school %>
                <%= link_to "Remove Bookmark", favorite_school_path(school, type: "unfavorite"), class: "btn btn-primary",
                    method: :post %>
            <% else %>
                <%= link_to "Bookmark", favorite_school_path(school, type: "favorite"), class: "btn btn-primary",
                    method: :post %>
            <% end %>
        <% end %>
    </div>
    
    <div id="crimes_filter" style="border-bottom: 1px solid #ccc;">
        <%= render partial: 'crimesfilter', locals: {id: school.id} %>
    </div>
    
    <div id="crimes-list">
      <%= render partial: 'crimes', locals: {crimes: @crimes} %>
    </div>
    
    <div id="reviews-list">
        <%= render partial: 'reviewslist', locals: {id: params[:id]} %>
    </div>

</div>
