<%= link_to "Back", root_path %>

<p id="notice"><%= notice %></p>
<%- model_class = School -%>
<% @school = School.find(params[:id]) %>

<div class="page-header" style="margin-top: -5%">
    <h1><%= School.find(params[:id]).name %></h1>
    <h3><%= School.find(params[:id]).grade_level %></h2>
    <div class="review-button" style= "text-align: center; margin-top: 5%">
        <% if logged_in? %>
            <%= link_to "Post a Review", new_school_review_path(@school), class: "btn btn-primary" %>
        <% end %>
    </div>
</div>

<div id="crimes_filter" style="border-bottom: 1px solid #ccc;">
    <%= render partial: 'crimesfilter' %>
</div>

<div id="crimes-list">
  <%= render partial: 'crimes', locals: {crimes: @crimes} %>
</div>

<div id="reviews-list">
    <%= render partial: 'reviewslist', locals: {id: params[:id]} %>
</div>


