<%- model_class = Review -%>
<p id="notice"><%= notice %></p>
<div class = review_page>
  <h3><%= Review.find(params[:id]).title %></h3>
  <p><%= Review.find(params[:id]).rating %></p>
  <p><%= Review.find(params[:id]).comment %></p>
  <% @school = Review.find(params[:id]).school_id %>
  <p><%= School.find(@school).name %></p>

  

</div>

<div class="edit_and_back">
<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
</div>
