<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCT0DTbOr1pJzEwQqtrY-pIR69-NZVnwtI &libraries=places">
    </script>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container fill">
      <%= yield %>
    </div>
  </body>
  
</html>